@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root{
    --gray-color: #352a49fa;
    --light-gray-color: gray;
}


*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: 'Ubuntu', sans-serif;
}

.font-size-small{
    font-size: small;
}

.font-size-large{
    font-size: x-large;
}

.dark-gray-color{
    color: var(--gray-color);
}

.light-gray-color{
    color: var(--light-gray-color);
    padding-top: 6px;
    padding-bottom: 6px;
}

.contact{
    list-style: none;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 12vw;
    padding-left: 16px;
}

.ul-styling{
    padding-left: 10px;
    list-style-type: '- ';
}

/* margin top */
.margin-top{
    margin-top: 8px;
}

/* margin */
.m3{
    margin: 16px 0px;
}

/* margin-bottom */
.m2{
    margin-bottom: 16px;
}

.font-bold{
    font-weight: 600;
}

.small-font, li{
    font-size: 14px;
    line-height: 1.8;
}

.space-between{
    display: flex;
    justify-content: space-between;
}

.skill-set{
    color: white;
    font-size: 14px;
    background-color: var(--gray-color);
    padding: 6px 10px;
    margin: 8px 4px !important;
    border-radius: 6px;
}

.skills-flex-container{
    display: flex;
    flex-wrap: wrap;
}


.text-deco{
    text-decoration: none;
    color: black;
}

.objective{
    padding: 28px;
}

.hr-bold {
    border: none;
    height: 2px;
    background-color: #333;
  }

.fas, .fab{
    padding-right: 18px;
}

.contact-info {
    padding: 8px; 
    font-size: 16px;
}

.general-info{
    display: flex;
}

.education-experience{
    width: 100vw;
}

.education, .experience{
    padding: 28px;
    padding-bottom: 20px;
}

.education{
    padding-bottom: 0px;
}

.skills-project-certi{
    width: 96vw;
}

.skills, .projects, .certificate {
    padding: 28px;
    padding-bottom: 0px;
}

@media screen and (max-width: 768px){
    .general-info, .contact{
        display: block;
    }

    .skills-project-certi{
        width: 100vw;
    }

    .certificate{
        padding-bottom: 30px;
    }

    .skills{
        padding-top: 0px !important;
    }

}